@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-serif: "Crimson Text", serif;
    --font-subtitle: "Karla", sans-serif;
    --color-mint-500: rgba(45, 106, 101, 0.85);
    --color-mint-400: rgb(115, 166, 152);
}

#paperParagraphContainer p {
    margin: 10px 0;
}

/* not using tailwing to fix safari bug */
#paperContainer {
    @starting-style {
        /*--tw-translate-x: calc(120svw * -1)  -120svw */
        translate: -120svw 0;
    }
}
